In [3]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('machine.data')
df.columns = ['vendor name', 'Model Name',"MYCT","MMIN","MMAX","CACH","CHMIN","CHMAX","PRP","ERP"]

In [23]:
df.head()
# ERP is Y

  vendor name Model Name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0      amdahl     470v/7    29  8000  32000    32      8     32  269  253
1      amdahl    470v/7a    29  8000  32000    32      8     32  220  253
2      amdahl    470v/7b    29  8000  32000    32      8     32  172  253
3      amdahl    470v/7c    29  8000  16000    32      8     16  132  132
4      amdahl     470v/b    26  8000  32000    64      8     32  318  290